<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dewdrop623.androidaescrypt">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FileOperations.FileModifierService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".FileBrowsing.ui.dialog.questiondialog.QuestionDialog"
            android:label="@string/title_activity_question_dialog"
            android:theme="@style/DialogTheme"/>
        <activity
            android:name=".FileBrowsing.ui.dialog.questiondialog.YesNoQuestionDialog"
            android:label="YesNoQuestionDialog"
            android:theme="@style/DialogTheme"/>
        <activity
            android:name=".FileBrowsing.ui.dialog.questiondialog.YesNoRememberAnswerQuestionDialog"
            android:label="YesNoQuestionDialog"
            android:theme="@style/DialogTheme"/>
    </application>

</manifest>